<%# Sign Up Page %>

<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://avatars.githubusercontent.com/u/4441966?s=200&v=4"
        alt="Your Company">
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">
        Sign in to your account
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <%= link_to "do you already have an Account?", new_user_session_path, {
          class: "font-medium text-indigo-600 hover:text-indigo-500"
        } %>
      </p>
    </div>
    <%= form_for resource, {
      as: resource_name,
      url: session_path(resource_name),
      class:"mt-8 space-y-6"
    } do |f| %>
      <div class="-space-y-px rounded-md shadow-sm">
        <div>
          <%= f.label :email, {
            class:"sr-only",
            require: true
          } %>
          <%= f.email_field :email, {
          class:"relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm",
          placeholder: "Email address",
          autofocus: true
        } %>
        </div>
        <div>
          <%= f.label :password, {
          class:"sr-only"
        }%>
          <%= f.password_field :password, {
        class:"relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm",
        autocomplete: "off",
        placeholder: "Password"
      } %>
        </div>
        <div>
          <%= f.submit "Sign in", {
          class:"group relative w-full flex justify-center my-2 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        } %>
        </div>
      <% end %>
    </div>
    <% flash.each do |name, msg| %>
      <div class="text-red-500">
        <%= msg %>
      </div>
    <% end %>
  </div>
