<div>
  <div>
    <% if current_user %>
      <p>Current User: <%= current_user.email %>
      </p>
     </p>
      <% end %>
  </div>

  <div class="mb-8">
    <h1 class="font-bold text-4xl">Event#index</h1>
    <p>Find me in app/views/event/index.html.erb</p>
   </div>
  <% @events.each do |event| %>
    <ul class="mb-4">
      <% event.attributes.each do |attr_name, attr_value| %>
        <% if attr_name=="id" %>
          <li>
            <%= attr_name %>: <%= link_to attr_value, event_path(attr_value) %>
          </li>
          <% else %>
            <li>
              <%= attr_name %>: <%= attr_value %>
            </li>
            <% end %>
              <% end %>
    </ul>
    <% end %>
</div>


<%# <div class="bg-white rounded-lg shadow-md p-6"> %>
  <%# <div class="flex items-center mb-4"> %>
    <%# <img class="w-12 h-12 rounded-full mr-4" src="https://via.placeholder.com/150x150" alt="Avatar"> %>
      <%# <div class="text-lg font-bold"> %>
        <%# John Doe %>
          <%# </div> %>
            <%# <div class="text-gray-600 text-sm ml-auto"> %>
              <%# january 1, 2020 %>
                <%# </div> %>
                  <%# </div> %>
                    <%# <div class="text-gray-700 text-base mb-4"> %>
                      <%# Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. %>
                        <%# </div> %>
                          <%# <div class="text-sm text-gray-600 font-bold mb-2"> %>
                            <%# john.doe@example.com %>
                              <%# </div> %>
                                <%# </div> %>
